@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: var(--primary-color);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}